<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>

    <script>
        $(document).ready(function () {
            //Assign click event to button
            $("#btnAssignStartDate").click(function () {
                //Get the data value
                var yourDateValue = new Date();
                //Format the date value
                var formattedDate = yourDateValue.toISOString().substr(0, 10)
                //Assign date value to date textbox
                $('#start-date-input').val(formattedDate);
            });

            $("#btnAssignEndDate").click(function () {
                //Get the data value
                var yourDateValue = new Date();
                //Format the date value
                var formattedDate = yourDateValue.toISOString().substr(0, 10)
                //Assign date value to date textbox
                $('#end-date-input').val(formattedDate);
            });

            $('#btnSave').on("click", function () {
                //$(this).prop('disabled', true);
                //showLoadingDialog(true);

                let formData = new FormData();
                let meetingTitle = document.getElementById("meetingTitle").value; /*$('#meetingTitle').val();*/
                var startDate = document.getElementById("start-date-input").value; /*$(".datepicker[name=start-date-input]").val();*/
                var endDate = document.getElementById("end-date-input").value;
                //let startDate = `${moment(datePickerControl.picker.get()).format('YYYY-MM-DD')} ${$('#start-date-input').data('startTime')}`;
                //let endDate = `${moment(datePickerControl.picker.get()).format('YYYY-MM-DD')} ${$('#end-date-input').data('endTime')}`;
                

                //if (meetingTitle === '') {
                //    showMessageDialog("Meeting title is required.");
                //    $('#meetingTitle').focus();
                //    $(this).prop('disabled', false);
                //    return;
                //}

                //if (attendees.length == 0) {
                //    showMessageDialog("Attendee(s) is required.");
                //    $(this).prop('disabled', false);
                //    return;
                //}

                //if ($('#selectedSchedule').data('startTime') == null) {
                //    showMessageDialog("Meeting date is required.");
                //    $(this).prop('disabled', false);
                //    return;
                //}

                formData.append("Subject", meetingTitle);
                formData.append("Start",startDate);
                formData.append("End", endDate);
                //formData.append("AgendaJSONString", getAgendas());
                //formData.append("AttendeesJSONString", JSON.stringify(attendees));
                //formData.append("TeamId", teamId);
                //formData.append("ChannelId", channelId);

                //$('#files input').filter(function () { return $(this).val() !== ''; }).each(function () {
                //    formData.append("Attachments", $(this)[0].files[0]);
                //});
                //TeamsHelper.get(function (teamContext) {
                    $.ajax({
                        url: '/Meeting/CreateMeeting',
                        data: formData,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        success: function () {
                            //$('#btnSaveDone').click(function () {
                            //    location.href = `/MeetingCapture/upcomingMeetings`;
                            //});
                            //showMessageDialog("Your meeting has been created.");
                        },
                        error: function (req, error) {
                            //$(this).prop('disabled', false);
                            //showMessageDialog(error);
                        }
                    });
                //});
            });
        });
    </script>
</head>
<body>
    <div class="form-group">
        <label for="example-date-input" class="col-2 col-form-label">Meeting Name</label>
        <div class="col-10">
            <input class="form-control" type="text" id="meetingTitle" placeholder="Meeting Name">
        </div>
    </div>
    <div class="form-group">
        <label for="example-date-input" class="col-2 col-form-label">Start Date</label>
        <div class="col-10">
            <input class="form-control" type="date" id="start-date-input" name="start-date-input">
            <input type="button" value="set date value" id="btnAssignStartDate">
        </div>
    </div>
    <div class="form-group">
        <label for="example-date-input" class="col-2 col-form-label">End Date</label>
        <div class="col-10">
            <input class="form-control" type="date" id="end-date-input" name="end-date-input">
            <input type="button" value="set date value" id="btnAssignEndDate">
        </div>
    </div>
    <div class="form-group">
        <button id="btnSave" class="ms-Button ms-Button--primary">
            <span class="ms-Button-label">Save </span>
        </button>
    </div>
</body>
</html>